<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Cloud 3D Print WiFi setup</title>
    <style>
        body{margin: 0;background: #2d3a4b;font-family: Helvetica, Sans-Serif;}
        #app{background: #2d3a4b;min-height: 100vh;}
        .wifi-form {width: 520px;max-width: 100%;padding: 80px 35px 0;margin: 0 auto;}
        .wifi-form .nlh-logo{text-align: center;margin: 0 auto 15px auto;}
        .wifi-form .nlh-logo img{display: inline-block;width: 65px;vertical-align: middle;}
        .wifi-form .nlh-logo h1{font-size: 24px;color: #eee;margin-left: 10px;display: inline-block;text-align: center;font-weight: bold;vertical-align: middle;}
        .el-autocomplete{display: block;width: 100%;}
        .wifi-form .el-form-item__label{color: #eee; display: block;width: 100%; text-align: left; line-height: 36px;font-size: 14px; margin-bottom: 10px;}
        .wifi-form .el-link{position: absolute;right: 0;top: 0; line-height: 36px; z-index: 999;}
        .el-form-item{margin-bottom: 18px}
        .el-icon-arrow-down{position: absolute;top: 57px;right: 13px;font-size: 16px;}
        .wifi-form .el-button{width: 100%; margin-top: 20px;}
        .el-result .el-result__title p{color: #fff;}
        .el-result__icon svg{width: 100px;height: 100px;}
    </style>
</head>
<body>
    <div id="app" v-loading="loading">
        <div v-if="!visible" class="wifi-form">
            <div class="nlh-logo">
                <img src="/image/logo-small-default.png">
                <h1>Cloud 3D Print <br/> <span style="font-size: 20px">PiBox WiFi Setup</span></h1>
                <div style="clear: both"></div>
            </div>
            <el-form ref="form" :model="form">
                <el-form-item label="SSID: (Network)">
                    <el-link type="primary" :underline="false" @click="refreshWifi">Not in the list? Refresh</el-link>
                    <!-- <el-autocomplete v-model="form.ssid" class="inline-input" placeholder="Select or type your network SSID" :fetch-suggestions="querySearch" placeholder="Type your SSID" /> -->

                    <el-autocomplete
                      class="inline-input"
                      v-model="form.ssid"
                      :fetch-suggestions="querySearch"
                      placeholder="Select or type your network SSID"
                      @select="handleSelect"
                    ></el-autocomplete>

                    <i class="el-icon-arrow-down"></i>
                </el-form-item>
                <el-form-item label="Password:">
                    <el-input v-model="form.pw" type="password" placeholder="Type your password" />
                </el-form-item>
            </el-form>
            <el-button type="primary" @click="submitWiFi">Save</el-button>
        </div>
        <div v-else class="wifi-form">
            <el-result icon="success" title="Congrats! The Pi has been properly set up." />
        </div>
    </div>
    <script src="./js/vue@2.6.14"></script>
    <script src="./js/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return {
                    form: {
                        ssid: '',
                        pw: ''
                    },
                    wifiList: [],
                    loading: false,
                    visible: false,
                    results: [],
                    links: [],
                }
            },
            mounted() {
                this.getSsidList()
            },
            methods: {
                getSsidList() {
                    const _this = this
                    const url = "../conf/ssid.list"/*json文件url，本地的就写本地的位置，如果是服务器的就写服务器的路径*/
                    const request = new XMLHttpRequest();
                    request.open("get", url);
                    request.send(null);
                    request.onload = function () {
                        if (request.status === 200) {
                            const temp = request.responseText
                            var tempSplit = temp.split('"\n')
                            tempSplit.forEach(function(item, index, array) {
                                if (item !== "") {
                                    const val = item.trimLeft().substring(7)
                                    _this.wifiList.push({ value: val, "link": val })
                                }
                            })

                            console.log('_this.wifiList=', _this.wifiList)
                        }
                    }
                },
                submitWiFi() {
                    const _this = this
                    if(_this.form.ssid.length < 1 || _this.form.pw.length < 8) {
                        _this.$message.closeAll()
                        _this.$message.error('Please make sure the network credentials are properly fulfilled.');
                        return false
                    }
                    this.$confirm('The WiFi information has been set up! You can close the page.', 'Notice', {
                        confirmButtonText: 'Ok',
                        showCancelButton: false,
                        // cancelButtonText: 'Cancel ',
                        closeOnClickModal: false
                    }).then(() => {
                        // _this.loading = true
                        // write to js file
                        var http = new XMLHttpRequest();
                        console.log('@ current api host = ', location.origin.split(':').length < 3 ? location.origin : location.origin.split(':')[0] + ':' + location.origin.split(':')[1] + "/data/wifi/update")
console.log('this.form.ssid = ', this.form.ssid, ', this.form.pw=', this.form.pw)                        
http.open("POST", location.origin.split(':')[0] + ':' + location.origin.split(':')[1] + ":8888" +  "/data/wifi/update", true);
                        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        http.onreadystatechange = function() {
                            if (this.readyState === 4 && this.status === 200) {
                                console.log('ready state')
                            }
                        };
                        http.send("ssid=" + this.form.ssid + "&pw="+ this.form.pw + "&refresh=N");
                        _this.$message({ message: 'The WiFi has been successfully configured! You can close the page.', type: 'success' });
                        _this.visible = true
                    }).catch(() => {});
                },
                refreshWifi() {
                    const _this = this
                    this.$confirm('The system will reload the WiFi list, please be patient.', 'Notice', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel ',
                        closeOnClickModal: false
                    }).then(() => {
                        // _this.loading = true
                        
const http = new XMLHttpRequest();

console.log('this.form.ssid = ', this.form.ssid, ', this.form.pw=', this.form.pw)

                        http.open("POST", location.origin.split(':')[0] + ':' + location.origin.split(':')[1] + ":8888" + "/data/wifi/update", true);
                        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        http.onreadystatechange = function() {
                            if (this.readyState === 4 && this.status === 200) {
                                console.log('ready state')
                            }
                        };
                        http.send("ssid=" + "&pw="+ "&refresh=Y");
                        _this.$message({ message: 'The WiFi list is being generated, please wait for a while to refresh the page.' });
                    }).catch(() => {});
                },
                querySearch(queryString, cb) {
                       var links = this.wifiList
                       var results = queryString ? links.filter(this.createFilter(queryString)) : links;
                       // call callback function to return suggestions
                       cb(results);
                     },
                     createFilter(queryString) {
                       return (link) => {
                         return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                       };
                     },
                     handleSelect(item) {
                       console.log(item);
                     }
            }
        })
    </script>
</body>
</html>
